resources/*
!resources/textures/
resources/textures/*
!resources/textures/skybox/

.vscode/*
# !.vscode/launch.json
!.vscode/tasks.json

configs/*
!configs/default.yaml
!configs/README.md

build/
collection_log/
metadata/

vulkanSDKMacOS
.DS_Store
*.log
.env